:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    color: var(--md-sys-color-text-primary-on-background);
    background-color: var(--md-sys-color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*  Material Design Styling: Dracula  */
    --md-sys-color-primary: #ff79c6;
    --md-sys-color-secondary: #50fa7b;
    --md-sys-color-background: #282a36;
    --md-sys-color-surface: #282a36;
    --md-sys-color-error: #ff5555;
    --md-sys-color-on-primary: #282a36;
    --md-sys-color-on-secondary: #282a36;
    --md-sys-color-on-surface: #f8f8f2;
    --md-sys-color-on-error: #282a36;
    --md-sys-color-text-primary-on-background: #f8f8f2;
    --md-sys-color-text-secondary-on-background: #f8f8f2;
    --md-sys-color-text-hint-on-background: #6272a4;
    --md-sys-color-text-disabled-on-background: #6272a4;
    --md-sys-color-text-icon-on-background: #6272a4;
    --md-sys-color-text-primary-on-light: #282a36;
    --md-sys-color-text-secondary-on-light: #282a36;
    --md-sys-color-text-hint-on-light: #6272a4;
    --md-sys-color-text-disabled-on-light: #6272a4;
    --md-sys-color-text-icon-on-light: #6272a4;
    --md-sys-color-text-primary-on-dark: #f8f8f2;
    --md-sys-color-text-secondary-on-dark: #f8f8f2;
    --md-sys-color-text-hint-on-dark: #6272a4;
    --md-sys-color-text-disabled-on-dark: #6272a4;
    --md-sys-color-text-icon-on-dark: #6272a4;
    --md-sys-color-on-background: #f8f8f2;
    --md-sys-color-surface-container-highest: #282a36;
    --md-sys-color-secondary-container: #7df39b;
    --md-sys-color-surface-container-low: #27293a;
    --md-dialog-container-color: #282a36;
    --md-sys-color-on-surface-variant: #f8f8f2;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color-scheme: dark;

}