.room-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  min-width: 24rem;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
}

.room-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;

  & form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;

    & md-filled-text-field {
      width: 100%;
    }
  }
}


md-chip-set {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}